.about .article-title {
    margin-bottom: 15px;
}

.about-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

.about-text p {
    margin-bottom: 15px;
}

.service {
    margin-bottom: 35px;
}

.service-title {
    margin-bottom: 20px;
}

.service-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.service-item {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}

.service-item::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

.service-icon-box {
    margin-bottom: 10px;
}

.service-icon-box img {
    margin: auto;
}

.service-content-box {
    text-align: center;
}

.service-item-title {
    margin-bottom: 7px;
}

.service-item-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fs-3);
    line-height: 1.6;
}

.clients {
    margin-bottom: 15px;
}

.clients-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin: 0 -15px;
    padding: 25px;
    padding-bottom: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 25px;
}

.clients-item {
    min-width: 50%;
    scroll-snap-align: start;
}

.clients-item img {
    /* width: 100%; */
    width: 50%;
    filter: grayscale(0);
    transition: var(--transition-1);
}

.clients-item img:hover {
    filter: grayscale(1);
}

/*========== responsive screen larger than 450px ==========*/
@media (min-width: 450px) {
    .clients-item {
        min-width: calc(33.33% - 10px);
    }
}

/*========== responsive screen larger than 580px ==========*/
@media (min-width: 580px) {
    .about .article-title {
        margin-bottom: 20px;
    }

    .about-text {
        margin-bottom: 40px;
    }

    .service-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        padding: 30px;
    }

    .service-icon-box {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .service-content-box {
        text-align: left;
    }

    .clients-list {
        gap: 50px;
        margin: 0 -30px;
        padding: 45px;
        scroll-padding-inline: 45px;
    }

    .clients-item {
        min-width: calc(33.33% - 35px);
    }
}

/*========== responsive screen larger than 768px ==========*/
@media (min-width: 1024px) {
    .service-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }
}

/*========== responsive screen larger than 1024px ==========*/
@media (min-width: 1024px) {
    .clients-item {
        min-width: calc(25% - 38px);
    }
}