.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--jet);
    border-radius: 12px 12px 0 0;
    box-shadow: var(--shadow-2);
    z-index: 5;
    /* sini */
    display: flex;
    gap: 1rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    font-size: 10px;
}

nav a {
    color: var(--light-gray);
    padding: 20px 7px;
    transition: color var(--transition-1);
}

nav a:hover,
nav a:focus {
    color: var(--light-gray-70);
}

.navbar a.active {
    color: var(--orange-yellow-crayola);
}

/*========== responsive screen larger than 580px ==========*/
@media (min-width: 580px) {
    .navbar {
        border-radius: 20px 20px 0 0;
        gap: 20px;
    }

    .navbar-link {
        --fs-8: 14px;
    }
}

/*========== responsive screen larger than 768px ==========*/
@media (min-width: 768px) {
    nav a {
        font-size: 1rem;
    }
}

/*========== responsive screen larger than 1024px ==========*/
@media (min-width: 1024px) {
    .navbar {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        padding: 0 20px;
        box-shadow: none;
    }
}
